# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Database
database/*.db

# Streamlit
.streamlit/

# VS Code
.vscode/

# Uploads
uploads/

# Exports
exports/

# OS Files
Thumbs.db
.DS_Store